@import "../scss/fontawesome.scss";
@import "../scss/solid.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$colorPrimary:rgb(248, 102, 5);
$colorSecondary: gray;
$text1:white;
$backGradColor1:rgba(248, 116, 27, 0.857);


* {

    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    margin: auto;
    width: 1200px;
   

    .container_item {
        margin: 10px;
        hr {
        border: 2px solid $colorPrimary;
     }
    
    }
    .container_banner {

        width: 100%;
        height: 200px;
        background-color: black;
        
    
    }
    .nav {
        display: flex;
        align-items: center;
        margin: 20px 20px 10px 20px;
        height: 80px;
        a {
            font-size: 12px;
            color:$colorSecondary;
            
            text-align: center;
            

            width: 10%;
            height: 80px;
            border: 1px solid $colorSecondary;


            i{
                display: flex;
                flex-direction: column;
                padding: 10px;
                

            }
            &:hover{
                background-color:$colorPrimary;
                border-radius: 5px;
                color: $text1;
            }

        }
    }
    .container_card {

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 20px;
       

        .item {
            
            width: 245px;
            height: 300px;
            margin: 20px;
            border: 1px solid $colorSecondary;
            border-radius: 5px;
           
            
            .description{
                width: 100%;
                margin-top: 0px;
                
               .description_item {
                   display: flex;
                   flex-wrap: wrap;

                   padding-top: 23px;
                   width: 100%;
                   height: 150px;
                   color: $colorSecondary;
                    
                    text-align: center;

                    
                }

                .nav_bottom{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    height: 40px;
                    color: $text1;
                    font-weight: bold;
                    font-size: 25;
                    padding: 0 0 0 0;
                    background-image: linear-gradient(to right, $backGradColor1 , $colorPrimary);
                    border-radius:  0 0 5px;
                }
                p{
                    color : $text1;
                    font-size:17px;
                    font-weight: bold;
                    padding: 10px 0 0 10px;
                    

                }

                a{
                    
                    
                    color : $text1;
                    font-size:17px;
                    font-weight: bold;
                    padding: 10px 10px 0 0;
                    
                
                }
            }
            h1{
                margin-top: 60px;
                text-align: center;

            }
            i{
                display: flex;
                flex-direction: column;
                text-align: center;
                padding-top: 20px;
                color: $colorPrimary;

                p{
                    text-align: center;
                    color: $colorSecondary;
                    font-size: 20px;
                    padding-top: 15px;
                }
            }

        }
        
    
    }
}



